# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages
# extra text

name: Echo inputs
on:
  pull_request:
  workflow_dispatch:
    inputs:
      runSuiteSize:
        description: 'Either run smoke test pack or full test suite'
        required: true
        default: test:ci:full
      localBuild:
        description: 'Is build localhost required'
        required: true
        default: 'false'
jobs:
  cypress-test:
    name: Run echo
    runs-on: ubuntu-18.04
    steps:
      - run: |
          echo "runSuiteSize: ${{ github.event.inputs.runSuiteSize }}"
          echo "localBuild: ${{ github.event.inputs.localBuild }}"
