name: Cypress slack notify
on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - 'master'
jobs:
  cypress-test:
    name: Run on Chrome 89
    runs-on: ubuntu-18.04
    container: cypress/browsers:node14.16.0-chrome89-ff86
    steps:
      - uses: actions/checkout@v2

      - name: Install Cypress with a clean slate
        run: |
          npm ci
          $(npm bin)/cypress cache path
          $(npm bin)/cypress cache list
          $(npm bin)/cypress verify

      - name: Run Cypress tests
        run: npm run test:ci:full
        continue-on-error: true

      # - name: Slack Notification
      #   if: always()
      #   uses: 8398a7/action-slack@v3.9.0
      #   with:
      #     github_base_url: https://github.com/bennymeade/cypress-reporting-gh-pages
      #     status: ${{ job.status }}
      #     fields: repo,message,commit,author,action,eventName,ref,workflow
      #     icon_emoji: ':scream:'
      #     text: 'Production smoke tests have failed, this requires immediate action :construction_worker:'
      #   env:
      #     SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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

      - name: Slack notification with Cypress screenshots & videos
        uses: trymbill/cypress-slack-video-upload-action@v1.3.0
        if: always()
        with:
          token: xoxb-2003786573991-2012430863254-s615DGDyirxhWL2i5EKdLrwI
          channels: cypress-results
          # workdir: packages/web/corporate/cypress